# Node
node_modules/

# Builds
dist/
build/
target/

# Angular
.angular/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# SQLite
*.db-shm
*.db-wal

# Environment
.env

# IDE
.vscode/ 
.idea/

# OS
.DS_Store
Thumbs.db