.login-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;

  .card {
    width: 33rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

    .card-body {
      .form-group {
        display: flex;
        flex-direction: column;
      }

      .form {
        .register-forgot {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}