:root {
    --radius: 1rem;
    --color-scheme: light;

    --brand: #2563eb;

    --header-bg: #2563eb;
    --footer-bg: #e0e7ff;

    // card
    --card-header-bg: #f8f9fa;
    --bg-card: #ffffff;

    // text
    --text-main: #212529;

    //box-shadow
    --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}