.login-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--card-header-bg);
  color: var(--text-main);

  .card {
    width: 33rem;
    background-color: var(--bg-card);
    box-shadow: var(--box-shadow);

    .card-body {
      .form-group {
        display: flex;
        flex-direction: column;
      }

      .form {
        .register-forgot {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}